from typing import Callable
from src.core import Middleware 
from src.core import Request

class {name}(Middleware):

    @staticmethod
    def handle(request: Request, next: Callable):
        #
        #
        #
        return next(request)
