from src.middlewares import Middleware 
from src.core import Request

class {name}(Middleware):
    @staticmethod
    def handle(request: Request, next: callable):
        #
        #
        #
        return next()
