from main import Creator    

# @Creator.view.extend("app")
# @Creator.view.section("title", "{name} - edit")
# @Creator.view.section("content")
def view():
    # 
    #   TODO: Implement the logic to edite {name}
    # 
    #   Creator.route("{name}.update", id="#")
    # 
    pass