from main import Creator   


# @Creator.view.extend("main")
# @Creator.view.section("title", "{name} - show")
# @Creator.view.section("content")
def render():
    # 
    #   TODO: Implement the logic to show a {name}
    # 
    pass

def handle():
    #   Creator.route("{name}.index")
    pass